*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header{
    display: flex;
    background-color: rgb(89, 179, 77);
    height: 35vh;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

h1{
    color: rgb(255, 255, 255);
    font-size: 5rem;
}

.title{
    padding: 10px;
    border:2px solid white;

}

.goals{
    width:50%;
    text-align: end;
}

.goals a{
    padding: 10px;
    background: none;
    color: rgb(36,36,36);
    font-size: 1.5rem;
    border:0.8px solid rgb(36,36,36);
    cursor: pointer;
    border-radius: 5px;
    transition: 0.5s;
}

.goals a:hover{
    background: rgb(36, 36, 36);
    color: white;
}
button{
    padding: 10px;
    background: none;
    color: rgb(36,36,36);
    font-size: 1.5rem;
    border:0.8px solid rgb(36,36,36);
    cursor: pointer;
    border-radius: 5px;
    transition: 0.5s;
}

button:hover{

    background: rgb(36, 36, 36);
    color: white;
}

main{
    margin: 0 auto;
    width: 70%;
}

.forms{
    max-width:800px;
    margin:auto;
    margin-bottom: 20px;
    background-color: rgb(31, 31, 31);
    border-radius: 5px;
    box-shadow: 0.5px 0.5px 10px rgb(36,36,36);
}

.form-title{
    display: flex;
    justify-content: center;  
}

h2{    
    margin-top:25px;
    margin-bottom:30px;
    color: white;
    font-size:2.5rem;
    border: 1px solid white;
    padding: 10px;

}

.user-items{
    background: url("https://wallpaperaccess.com/full/1976684.jpg");
    background-size: cover;
    max-width:800px;
    border-radius: 5px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 1px 1px 8px rgb(36,36,36);
    overflow: auto;

}

.item-title{
    display:flex;
    justify-content: space-around;
}

.items{
    display: flex;
    margin: 1.5%;
    align-items: center;
    justify-content: space-evenly;
}


h5{
    margin: 10px;
    padding: 2px;
    font-size: 1.5rem;
    color: rgb(36, 36, 36);
    background-color: rgb(78, 255, 55);
    opacity: 0.8;
    text-align: center;

}

h4{
    font-size: 1.6rem;
    background-color: rgb(36, 36, 36);
    color: white;
    margin: 5px;
    padding: 2px;
    opacity: 0.8;
}

h3{
    
    margin: 15px 5px 5px 5px;
    padding: 8px;
    font-size: 2rem;
    color: rgb(36,36,36);
    border: 1px solid rgb(36,36,36);
    opacity: 0.8;
}


.buttons{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 2.5%;
    margin-bottom: 4%;
}

a{
    margin: 25px 25px 40px 25px;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
}

.del a{
    color: rgb(255, 38, 38);
    border: 0.5px solid rgb(255, 38, 38);
    transition: 0.5s;
    opacity:0.85;
}

.del a:hover{

    color:white;
    background-color:rgb(255, 38, 38);

}


.update a{
    color: rgb(255, 137, 27);
    border: 0.5px solid rgb(255, 137, 27);
    transition: 0.5s;
    opacity:0.85;
}

.update a:hover{

    color:white;
    background-color:rgb(255, 137, 27);

}

.content{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    margin:auto;
    width:80%;

}

.categories h2{

    font-size: 1.15rem;
    border:none;
    background-color: rgb(255, 56, 56);
    margin:0.35rem;

}

input{

    margin: 0.25rem;
    padding: 5px;
    font-size: 1.3rem;

}

.button-form{

    display:flex;
    justify-content: center;
    align-items:center;
    margin-top: 16px;
}


.button-form input{

    margin-bottom: 3%;
    padding: 8px 12px 8px 12px;
    background: none;
    color: rgb(52, 255, 103);
    border: 0.5px solid rgb(52, 255, 103);
    cursor:pointer;
    border-radius: 5px;
    opacity:0.85;
    transition: 0.5s;
    font-size: 1rem;


}

.button-form input:hover{

    background-color:rgb(2, 255, 65);
    color:rgb(36, 36, 36);

}


.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(24, 24, 24, 0.9);
    z-index: 2;
    display: none;
    justify-content: center;
    align-items: center;
    animation: button 0.5s;
}

.modal-content{

    margin:auto;
    background-color: rgb(255, 255, 255);
    width:35%;
    max-width:35%;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0.5px 0.5px 10px rgb(36,36,36);


}

.close-modal{

    margin-bottom: 10px;
    padding: 8px;
    background: none;
    color: rgb(36, 36, 36);
    border: 0.5px solid rgb(36, 36, 36);
    cursor:pointer;
    border-radius: 5px;
    opacity:0.85;
    transition: 0.5s;
    font-size: 1.2rem;

}

.modal-content h4{

    margin: auto;
    padding: 5px;
    border: 1px solid rgb(36,36,36);
    color: rgb(36,36,36);
    background:none;
    font-size: 2rem;

}

.modal-title{

    margin: 20px 20px 35px 20px;
}

.modal .button-form input{

    margin-bottom: 10px;
    padding: 8px;
    background: none;
    color: rgb(1, 143, 43);
    border: 0.5px solid rgb(1, 143, 43);
    cursor:pointer;
    border-radius: 5px;
    opacity:0.85;
    transition: 0.5s;
    font-size: 1.2rem;
}

.modal h2{

    font-size: 1rem;
}

.modal input{
    font-size: 0.9rem;
    margin-bottom:10px;
}

.modal .button-form input:hover{

    background-color:rgb(1, 143, 43);
    color:rgb(255, 255, 255);

}

.close-modal:hover{
    
    background-color:rgb(36, 36, 36);
    color:white;

}

.modal .button-form{

    display: flex;
    justify-content: space-evenly;
}

@keyframes button{

    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}


progress[value]{
    width: 50%;
    height: 50%;
}

.progress{
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}

.progress button{

    color: rgb(136, 29, 207);
    border: 0.5px solid rgb(136, 29, 207);
}

.progress button:hover{

    color: white;
    background-color: rgb(136, 29, 207);
}

.progress-bar{
    height:55vh;
    margin-bottom: 20px;
    border-radius:8px;
    text-align: center;
    display: none;

}

.progress-bar p{
    font-size: 23px;
}

.progress-bar h3{

    margin:auto;
    width: 210px;
    padding: 10px;

}

.user-progress{

    margin-top: 15px;
    height: 12vh;
}


/*for tablets */
@media screen and (max-width: 1440px){

    header{
        flex-direction: column;
        text-align: center;
        max-height: 25vh;
    }
    
    h1{
        font-size:3.5rem;
    }

    .goals a, button{
        margin-top: 5%;
        font-size: 1.3rem;
    }

    .goals{
        text-align: center;
    }

    .buttons{
        justify-content: space-evenly;
    }

    .modal-content{
        width:55%;
        max-width:55%;
    }

}

@media screen and (max-width: 515px){

    main{
        width:90%;
    }

    
    header{
        text-align: center;
        max-height: 38vh;
        padding-top: 50px;
        min-width:100%;

    }
    
    h1{
        font-size:2.5rem;
    }

    .goals a, button{
        margin-top: 5%;
        font-size: 0.6rem;
        padding:5px;

    }

    .goals{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h2{
        font-size: 1.5rem
    }

    input{
        margin-bottom: 8px;
        font-size:0.65rem;
    }

    .categories h2{

        font-size:0.65rem;
    }

    .button-form input{
        margin-bottom: 20px;
    }

    .modal-content{
        width: 95%;
        max-width:95%;

    }

}


@media screen and (max-width: 340px){

    main{
        width:90%;
    }

    
    header{
        text-align: center;
        max-height: 35vh;
        padding-top: 50px;
        min-width:100%;

    }

}